<form [formGroup]="ruleForm">
  <div class="rule-preview">
    @if (previewName) {
      <ion-text class="rule-preview__name">{{ previewName }}</ion-text>
    } @else {
      <ion-text class="rule-preview__placeholder">{{ 'TK_RULE_NAME_PLACEHOLDER' | translate }}</ion-text>
    }
  </div>
  <ion-item>
    <ion-label position="stacked">{{ 'TK_START_DATE' | translate }}</ion-label>
    <ion-input
      appValidationError
      placeholder="{{ 'TK_YYYY_MM_DD' | translate }}"
      formControlName="startDate"
      name="startDate"
      [maskito]="dateMask"
      [maskitoElement]="maskPredicate"
    ></ion-input>
  </ion-item>
  <app-select-search
    appValidationError
    formControlName="subject"
    label="TK_ITEM"
    [suggestions]="suggestions"
  ></app-select-search>
  <ion-item>
    <ion-label position="stacked">{{ 'TK_MEASURE' | translate }}</ion-label>
    <ion-segment formControlName="metric">
      <ion-segment-button value="count">{{ 'TK_COUNT' | translate }}</ion-segment-button>
      <ion-segment-button value="duration">{{ 'TK_TOTAL_DURATION' | translate }}</ion-segment-button>
    </ion-segment>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{ 'TK_CONDITION' | translate }}</ion-label>
    <ion-segment formControlName="operator">
      <ion-segment-button value=">=">{{ 'TK_AT_LEAST' | translate }}</ion-segment-button>
      <ion-segment-button value="<=">{{ 'TK_AT_MOST' | translate }}</ion-segment-button>
    </ion-segment>
  </ion-item>
  <ion-item class="value-item">
    <div class="value-wrapper">
      <ion-input
        appValidationError
        class="value-input"
        formControlName="value"
        name="value"
        type="number"
        inputmode="numeric"
        min="0"
        step="1"
      ></ion-input>
      <ion-text class="value-unit">{{ unitLabel }}</ion-text>
    </div>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{ 'TK_PERIOD' | translate }}</ion-label>
    <ion-segment formControlName="period">
      <ion-segment-button value="day">{{ 'TK_DAILY' | translate }}</ion-segment-button>
      <ion-segment-button value="week">{{ 'TK_WEEKLY' | translate }}</ion-segment-button>
      <ion-segment-button value="month">{{ 'TK_MONTHLY' | translate }}</ion-segment-button>
    </ion-segment>
  </ion-item>
  <ion-item>
    <ion-checkbox formControlName="timeEnabled" labelPlacement="start" justify="space-between">
      {{ 'TK_TIME' | translate }}
    </ion-checkbox>
  </ion-item>
  @if (timeEnabled) {
    <div class="time-row">
      <app-time-wheel
        appValidationError
        formControlName="startTime"
        label="TK_START_TIME"
      ></app-time-wheel>
      <app-time-wheel
        appValidationError
        formControlName="endTime"
        label="TK_END_TIME"
      ></app-time-wheel>
    </div>
  }
</form>
