<ion-header>
  <ion-toolbar>
    <app-nav-button slot="start" [showBack]="showBackButton" menu="stats-menu"></app-nav-button>
    <ion-title>{{ 'TK_RULES' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (isLoading) {
    <app-default-skeleton [count]="6" [showIcon]="false" [lines]="1"></app-default-skeleton>
  } @else {
    <div class="av-screen">
      <section class="tl-widget">
        <ion-segment class="sr-seg" [value]="selectedTab" (ionChange)="onTabChange($event)">
          <ion-segment-button value="day">{{ 'TK_DAILY' | translate }}</ion-segment-button>
          <ion-segment-button value="week">{{ 'TK_WEEKLY' | translate }}</ion-segment-button>
          <ion-segment-button value="month">{{ 'TK_MONTHLY' | translate }}</ion-segment-button>
        </ion-segment>

        <app-aggregate-rule-calendar
          [rules]="filteredRules"
          [allActivities]="allActivities"
          [completionsMap]="completionsMap"
          [period]="selectedTab"
          [selectedDate]="selectedDate"
          (daySelected)="onDaySelected($event)"
          (monthChanged)="onMonthChanged($event)"
        ></app-aggregate-rule-calendar>
      </section>

      <section class="tl-widget">
        <div class="tl-widget-hd"><span class="tl-widget-title">{{ 'TK_RULES' | translate }}</span></div>
        @if (ruleDayStatuses.length) {
          <div class="sr-list">
            @for (result of ruleDayStatuses; track result.rule.id) {
              <div
                class="sr-row"
                [class.rule-green]="result.color === 'green'"
                [class.rule-red]="result.color === 'red'"
                (click)="router.navigate(['/rule', result.rule.id])"
              >
                {{ getRuleName(result) }}
              </div>
            }
          </div>
        } @else {
          <p class="sr-empty">{{ 'TK_NO_RULES' | translate }}</p>
        }
      </section>
    </div>
  }
</ion-content>
