.warning-sign {
    width: 25px;
    height: 25px;
}

ion-item.invalid {
    --highlight-color-focused: var(--ion-color-danger);
    --border-color: var(--ion-color-danger);
    
    ion-input {
        --color: var(--ion-color-danger);
    }
}

.validation-tooltip {
    padding: 5px 10px;
}

.filter-form {
    margin-bottom: 10px;
}

.controls {
    display: flex;
    justify-content: center;
}