<ion-header>
  <ion-toolbar>
    <app-nav-button slot="start" [showBack]="showBackButton" menu="stats-menu"></app-nav-button>
    <ion-title>{{ 'TK_METRICS' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  @if (isLoading) {
    <app-stats-skeleton></app-stats-skeleton>
  } @else {
    <app-stats-content
      [allMetrics]="allMetrics"
      [savedPeriod]="savedPeriod"
      [savedMetrics]="savedMetrics"
      [initialActivities]="initialActivities"
      [initialPeriod]="initialPeriod"
    ></app-stats-content>
  }
</ion-content>
