<form [formGroup]="streakForm">
  <ion-item>
    <ion-label position="stacked">{{ 'TK_START_DATE' | translate }}</ion-label>
    <ion-input
      appValidationError
      placeholder="{{ 'TK_YYYY_MM_DD' | translate }}"
      formControlName="startDate"
      name="startDate"
      [maskito]="dateMask"
      [maskitoElement]="maskPredicate"
    ></ion-input>
  </ion-item>
  <app-select-search
    appValidationError
    formControlName="term"
    label="TK_TERM"
    [suggestions]="suggestions"
  ></app-select-search>
</form>