<div class="date-row">
  <ion-item>
    <ion-label><ion-skeleton-text animated style="width: 60px"></ion-skeleton-text></ion-label>
    <ion-skeleton-text animated style="width: 100px; height: 20px"></ion-skeleton-text>
  </ion-item>
  <ion-item>
    <ion-label><ion-skeleton-text animated style="width: 60px"></ion-skeleton-text></ion-label>
    <ion-skeleton-text animated style="width: 100px; height: 20px"></ion-skeleton-text>
  </ion-item>
</div>
<div class="skeleton-chips">
  <ion-skeleton-text animated style="width: 60px; height: 28px; border-radius: 16px"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 60px; height: 28px; border-radius: 16px"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 60px; height: 28px; border-radius: 16px"></ion-skeleton-text>
</div>
<ion-item>
  <ion-label><ion-skeleton-text animated style="width: 80px"></ion-skeleton-text></ion-label>
  <ion-skeleton-text animated style="width: 200px; height: 20px"></ion-skeleton-text>
</ion-item>
