<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'TK_DASHBOARD_SETTINGS' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="hasExcessWidgets">
  <div class="rows">
    @for (slot of rowSlots; track slot.rowStart) {
      @if (slot.type === 'empty') {
        <div class="row-slot empty" [class.span2]="slot.rowSpan === 2" [class.span3]="slot.rowSpan === 3" [class.span4]="slot.rowSpan === 4" [class.excess]="slot.excess" (click)="onEmptySlotTap()">
          <ion-icon name="add-outline"></ion-icon>
          <span>{{ 'TK_ADD_WIDGET' | translate }}</span>
        </div>
      } @else {
        <div class="row-slot widget" [class.span2]="slot.rowSpan === 2" [class.span3]="slot.rowSpan === 3" [class.span4]="slot.rowSpan === 4" [class.excess]="slot.excess">
          <div class="widget-info">
            <ion-icon [name]="getWidgetIcon(slot.widget!)"></ion-icon>
            <div class="widget-text">
              <span class="widget-type">{{ getWidgetSubtitle(slot.widget!) }}</span>
              <span class="widget-label">{{ getWidgetLabel(slot.widget!) }}</span>
            </div>
          </div>
          <ion-button fill="clear" class="menu-btn" (click)="onWidgetMenuTap(slot.widget!, $event)">
            <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
          </ion-button>
        </div>
      }
    }
  </div>
</ion-content>

<ion-modal #configModal class="cwt-modal" [isOpen]="modalOpen" (didDismiss)="closeModal()">
  <ng-template>
    <div class="cwt-sheet">
      <div class="cwt-head">
        <div class="cwt-head-title">
          @if (modalStep === 'type') {
            {{ 'TK_CHOOSE_WIDGET_TYPE' | translate }}
          } @else {
            {{ modalFormTitle | translate }}
          }
        </div>
        @if (modalStep === 'form') {
          <button class="cwt-head-check" [class.is-on]="canSave()" [disabled]="!canSave()" (click)="saveWidget()">
            <ion-icon name="checkmark-outline"></ion-icon>
          </button>
        }
        <button class="cwt-head-x" (click)="modalBack()">
          <ion-icon [name]="(modalStep === 'form' && !modalEditingId) ? 'arrow-back-outline' : 'close-outline'"></ion-icon>
        </button>
      </div>

      <div class="cwt-body">
        @if (modalStep === 'type') {
          <ul class="cwt-list">
            @for (opt of widgetTypeOptions; track opt.type) {
              <li>
                <button class="cwt-row" (click)="selectWidgetType(opt.type)">
                  <span class="cwt-row-ico"><ion-icon [name]="opt.icon"></ion-icon></span>
                  <span class="cwt-row-name">{{ opt.labelKey | translate }}</span>
                  <span class="cwt-row-chev"><ion-icon name="chevron-forward-outline"></ion-icon></span>
                </button>
              </li>
            }
          </ul>
        } @else {
          <div class="cwt-config">
            <div class="cwt-form">
              @switch (selectedWidgetType) {

                @case ('action-button') {
                  <div class="cwt-sect">
                    <span class="cwt-sect-lbl">{{ 'TK_WIDGET_ACTION' | translate }}</span>
                    <div class="cwt-opts" role="radiogroup">
                      <button type="button" role="radio" class="cwt-opt" [class.is-on]="actionAction === 'new-activity'" (click)="actionAction = 'new-activity'">
                        <span class="cwt-opt-name">{{ 'TK_ACTION_NEW_ACTIVITY' | translate }}</span>
                        <span class="cwt-radio"></span>
                      </button>
                      <button type="button" role="radio" class="cwt-opt" [class.is-on]="actionAction === 'new-action'" (click)="actionAction = 'new-action'">
                        <span class="cwt-opt-name">{{ 'TK_ACTION_NEW_ACTION' | translate }}</span>
                        <span class="cwt-radio"></span>
                      </button>
                      <button type="button" role="radio" class="cwt-opt" [class.is-on]="actionAction === 'new-tag'" (click)="actionAction = 'new-tag'">
                        <span class="cwt-opt-name">{{ 'TK_ACTION_NEW_TAG' | translate }}</span>
                        <span class="cwt-radio"></span>
                      </button>
                    </div>
                  </div>
                  <div class="cwt-sect cwt-sect-last">
                    <span class="cwt-sect-lbl">{{ 'TK_WIDGET_COLOR' | translate }}</span>
                    <div class="cwt-colors">
                      @for (c of widgetColors; track c) {
                        <button type="button" class="cwt-swatch" [class.is-on]="selectedColor === c" [style.background-color]="c" (click)="selectedColor = c"></button>
                      }
                    </div>
                  </div>
                }

                @case ('navigation') {
                  <div class="cwt-sect cwt-sect-last">
                    <span class="cwt-sect-lbl">{{ 'TK_SELECT_PAGES' | translate }}</span>
                    <div class="cwt-pages">
                      @for (link of availableNavLinks; track link.route) {
                        <button
                          type="button"
                          class="cwt-page"
                          [class.is-on]="isNavLinkSelected(link.route)"
                          [disabled]="!isNavLinkSelected(link.route) && navSelectedRoutes.size >= navMaxLinks"
                          (click)="toggleNavLink(link.route)"
                        >
                          <span class="cwt-page-ico"><ion-icon [name]="link.icon"></ion-icon></span>
                          <span class="cwt-page-name">{{ link.label | translate }}</span>
                          <span class="cwt-pcheck"><ion-icon name="checkmark-outline"></ion-icon></span>
                        </button>
                      }
                    </div>
                  </div>
                }

                @case ('metric-graph') {
                  <div class="cwt-sect">
                    <span class="cwt-sect-lbl">{{ 'TK_WIDGET_METRIC' | translate }}</span>
                    @if (!metricSuggestions.length) {
                      <p class="cwt-no-data">{{ 'TK_NO_METRICS_AVAILABLE' | translate }}</p>
                    } @else {
                      <button type="button" class="cwt-picker" (click)="openPicker('metric')">
                        <span class="cwt-picker-val" [class.is-empty]="!selectedMetric">
                          {{ selectedMetric ? (selectedMetric.name | translate) : ('TK_WIDGET_METRIC' | translate) }}
                        </span>
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                      </button>
                    }
                  </div>
                  <div class="cwt-sect">
                    <span class="cwt-sect-lbl">{{ 'TK_WIDGET_PERIOD' | translate }}</span>
                    <div class="cwt-tabs" role="group">
                      @for (p of periods; track p.value) {
                        <button type="button" class="cwt-tab" [class.is-on]="metricPeriod === p.value" (click)="metricPeriod = p.value">{{ p.labelKey | translate }}</button>
                      }
                    </div>
                  </div>
                  <div class="cwt-sect cwt-sect-last">
                    <span class="cwt-sect-lbl">{{ 'TK_WIDGET_COLOR' | translate }}</span>
                    <div class="cwt-colors">
                      @for (c of widgetColors; track c) {
                        <button type="button" class="cwt-swatch" [class.is-on]="selectedColor === c" [style.background-color]="c" (click)="selectedColor = c"></button>
                      }
                    </div>
                  </div>
                }

                @case ('library-graph') {
                  <div class="cwt-sect">
                    <span class="cwt-sect-lbl">{{ 'TK_WIDGET_ITEM' | translate }}</span>
                    @if (!itemSuggestions.length) {
                      <p class="cwt-no-data">{{ 'TK_NO_ITEMS_AVAILABLE' | translate }}</p>
                    } @else {
                      <button type="button" class="cwt-picker" (click)="openPicker('item')">
                        <span class="cwt-picker-val" [class.is-empty]="!selectedItem">
                          {{ selectedItem ? selectedItem.name : ('TK_WIDGET_ITEM' | translate) }}
                        </span>
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                      </button>
                    }
                  </div>
                  <div class="cwt-sect">
                    <span class="cwt-sect-lbl">{{ 'TK_WIDGET_PERIOD' | translate }}</span>
                    <div class="cwt-tabs" role="group">
                      @for (p of periods; track p.value) {
                        <button type="button" class="cwt-tab" [class.is-on]="itemPeriod === p.value" (click)="itemPeriod = p.value">{{ p.labelKey | translate }}</button>
                      }
                    </div>
                  </div>
                  <div class="cwt-sect cwt-sect-last">
                    <span class="cwt-sect-lbl">{{ 'TK_WIDGET_COLOR' | translate }}</span>
                    <div class="cwt-colors">
                      @for (c of widgetColors; track c) {
                        <button type="button" class="cwt-swatch" [class.is-on]="selectedColor === c" [style.background-color]="c" (click)="selectedColor = c"></button>
                      }
                    </div>
                  </div>
                }

                @case ('experiment') {
                  <div class="cwt-sect cwt-sect-last">
                    @if (!experimentSuggestions.length) {
                      <p class="cwt-no-data">{{ 'TK_NO_EXPERIMENTS_AVAILABLE' | translate }}</p>
                    } @else {
                      <button type="button" class="cwt-picker" (click)="openPicker('experiment')">
                        <span class="cwt-picker-val" [class.is-empty]="!selectedExperiment">
                          {{ selectedExperiment ? selectedExperiment.title : ('TK_EXPERIMENT' | translate) }}
                        </span>
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                      </button>
                    }
                  </div>
                }

              }
            </div>

            <div class="cwt-foot">
              <button class="cwt-save" [class.is-off]="!canSave()" [disabled]="!canSave()" (click)="saveWidget()">
                {{ 'TK_SAVE' | translate }}
              </button>
            </div>
          </div>
        }
      </div>
    </div>
  </ng-template>
</ion-modal>

<!-- metric / item search picker (activity-form style) -->
<ion-modal class="cwt-modal cwt-picker-modal" [isOpen]="pickerOpen" (didDismiss)="closePicker()">
  <ng-template>
    <div class="cwt-sheet">
      <div class="cwt-head">
        <div class="cwt-search">
          <ion-icon name="search-outline"></ion-icon>
          <input
            class="cwt-search-input"
            [placeholder]="'TK_SEARCH' | translate"
            [(ngModel)]="pickerQuery"
          />
        </div>
        <button class="cwt-head-x" (click)="closePicker()">
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>
      <div class="cwt-body">
        <ul class="cwt-list">
          @for (res of pickerResults; track res.num) {
            <li>
              <button class="cwt-row" (click)="selectPickerResult(res)">
                <span class="cwt-row-text">
                  <span class="cwt-row-name">{{ res.title }}</span>
                  @if (res.subtitle) {
                    <span class="cwt-row-sub">{{ res.subtitle }}</span>
                  }
                </span>
              </button>
            </li>
          } @empty {
            <li><div class="cwt-empty">{{ 'TK_THERE_ARE_NO_ENTRIES' | translate }}</div></li>
          }
        </ul>
      </div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal class="menu-sheet" [isOpen]="!!menuWidget" (didDismiss)="closeMenu()">
  <ng-template>
    @if (menuWidget) {
      <div class="menu-sheet-content">
        <div class="menu-hd">
          <ion-icon [name]="getWidgetIcon(menuWidget)"></ion-icon>
          <div class="menu-hd-text">
            <span class="menu-hd-cat">{{ getWidgetSubtitle(menuWidget) }}</span>
            <span class="menu-hd-name">{{ getWidgetLabel(menuWidget) }}</span>
          </div>
        </div>
        <div class="menu-acts">
          @if (menuWidget.config.type !== 'rules') {
            <button class="menu-act" (click)="menuEdit()">
              <ion-icon name="create-outline"></ion-icon>{{ 'TK_EDIT' | translate }}
            </button>
          }
          <button class="menu-act" (click)="menuMove('up')">
            <ion-icon name="arrow-up-outline"></ion-icon>{{ 'TK_MOVE_UP' | translate }}
          </button>
          <button class="menu-act" (click)="menuMove('down')">
            <ion-icon name="arrow-down-outline"></ion-icon>{{ 'TK_MOVE_DOWN' | translate }}
          </button>
          <div class="menu-divider"></div>
          <button class="menu-act danger" (click)="menuDelete()">
            <ion-icon name="trash-outline"></ion-icon>{{ 'TK_DELETE' | translate }}
          </button>
        </div>
      </div>
    }
  </ng-template>
</ion-modal>
