<ion-header>
  <ion-toolbar>
    <app-back-button slot="start"></app-back-button>
    <ion-title>{{ 'TK_ACTION' | translate }} "{{ action?.name }}"</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()">
        <ion-icon src="assets/icon/three-dots-vertical.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (action?.tags?.length) {
    <h2>{{ 'TK_TAGS' | translate }}</h2>
    <app-tags [tags]="action?.tags ?? []"></app-tags>
  }

  <form [formGroup]="filterForm">
    <app-date-period-input formControlName="datePeriod" storageKey="action-view"></app-date-period-input>
  </form>

  <h2>{{ 'TK_ACTIVITIES' | translate }}</h2>
  @if (activitiesGroupedByDate.length) {
    <div>{{ 'TK_TOTAL_TIME' | translate }}: {{ getTimeString(totalTimeMinutes) }}</div>
    <div>{{ 'TK_AVERAGE_PER_DAY' | translate }}: {{ getTimeString(totalTimeMinutes / activitiesGroupedByDate.length) }}</div>
    @for (day of activitiesGroupedByDate; track day.date) {
      <h3>{{ day.date }}</h3>
      <app-activity-list [activities]="day.activities"></app-activity-list>
    }
  } @else {
    <div>{{ 'TK_NO_ACTIVITIES_FOR_SELECTED_PERIOD' | translate }}</div>
  }
</ion-content>