<ion-list>
  @for (activity of activities; track activity.id) {
    <ion-item>
      <ion-label>
        <div class="activity-header">
          <h2>{{ entitiesToString(activity.actions) }}</h2>
          <ion-buttons class="activity-item-buttons">
            <ion-button id="open-action-sheet-{{activity.id}}">
              <ion-icon src="assets/icon/three-dots-vertical.svg"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
        <p>
          {{ activity.startTime }} @if (activity.endTime) { - {{ activity.endTime }} }
        </p>
        <app-tags [tags]="activity.tags"></app-tags>
        <p>
          @for (metric of metrics; track metric.id) {
            @if (activityHasMetric(activity, metric)) {
              {{ metric.name | translate }}: {{ getMetricValue(activity, metric) }}
            }
          }
        </p>
        <p>
          @for (library of libraries; track library.id) {
            @if (activityHasLibraryItems(activity, library)) {
              {{ library.name | translate }}: {{ getLibraryItems(activity, library) }}
            }
          }
        </p>
        <ion-action-sheet trigger="open-action-sheet-{{activity.id}}" header="{{ 'TK_ACTIONS' | translate }}"
          [buttons]="activityActionSheetButtons"
          (didDismiss)="doActivityAction($event, activity.id)"></ion-action-sheet>
      </ion-label>
    </ion-item>
  } @empty {
    <ion-text>{{ 'TK_THERE_ARE_NO_ACTIVITIES' | translate }}</ion-text>
  }
</ion-list>