<ion-header>
  <ion-toolbar>
    <app-nav-button slot="start"></app-nav-button>
    <ion-title>{{ ruleName }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()">
        <ion-icon src="assets/icon/three-dots-vertical.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (isLoading) {
    <app-default-skeleton></app-default-skeleton>
  } @else if (rule) {
    <div class="av-screen">
      <section class="tl-widget av-block">
        <div class="tl-widget-hd"><span class="tl-widget-title">{{ 'TK_DETAILS' | translate }}</span></div>
        <div class="av-metrics">
          <div class="av-metric av-metric--link" (click)="openSubject()">
            <span class="av-metric-k">{{ subjectSubtitle }}</span>
            <span class="av-metric-v">{{ subjectName }}<ion-icon name="chevron-forward-outline"></ion-icon></span>
          </div>
          <div class="av-metric">
            <span class="av-metric-k">{{ 'TK_START_DATE' | translate }}</span>
            <span class="av-metric-v">{{ formattedStartDate }}</span>
          </div>
          @if (rule.endDate) {
            <div class="av-metric">
              <span class="av-metric-k">{{ 'TK_END_DATE' | translate }}</span>
              <span class="av-metric-v">{{ formattedEndDate }}</span>
            </div>
          }
          <div class="av-metric">
            <span class="av-metric-k">{{ 'TK_CONDITION' | translate }}</span>
            <span class="av-metric-v">{{ conditionLabel }}</span>
          </div>
          <div class="av-metric">
            <span class="av-metric-k">{{ 'TK_PERIOD' | translate }}</span>
            <span class="av-metric-v">{{ periodLabel }}</span>
          </div>
          @if (rule.startTime) {
            <div class="av-metric">
              <span class="av-metric-k">{{ 'TK_TIME' | translate }}</span>
              <span class="av-metric-v">{{ rule.startTime }} – {{ rule.endTime }}</span>
            </div>
          }
        </div>
      </section>

      <section class="tl-widget av-block">
        <div class="tl-widget-hd"><span class="tl-widget-title">{{ 'TK_PROGRESS' | translate }}</span></div>
        <app-rule-calendar [rule]="rule"></app-rule-calendar>
      </section>
    </div>
  }
</ion-content>
