.warning-sign {
    width: 25px;
    height: 25px;
}

ion-item.invalid {
    --highlight-color-focused: var(--ion-color-danger);
    --border-color: var(--ion-color-danger);
    
    ion-input {
        --color: var(--ion-color-danger);
    }
}

.validation-tooltip {
    padding: 5px 10px;
}

.filter-form {
    margin-bottom: 10px;
}

.controls {
    display: flex;
    justify-content: center;
}

.achievement {
    padding-top: 10px;

    .icon {
        font-size: 2.5rem;
        margin-right: 10px;
    }

    .body {
        .title {
            font-size: 1.25rem;
        }

        .description {
            font-size: 0.85rem;
            margin-bottom: 10px;
        }
    }
}