<ion-header>
  <ion-toolbar>
    <ion-title>Activity Stats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form class="filter-form" [formGroup]="filterForm">
    <ion-item [class.invalid]="filterForm.get('startDate')?.invalid">
      <ion-label position="stacked">Start Date</ion-label>
      <ion-input
        placeholder="yyyy-mm-dd"
        formControlName="startDate"
        [maskito]="dateMask"
        [maskitoElement]="maskPredicate"
      >
        @if (filterForm.get('startDate')?.errors) {
          <ion-icon 
            class="warning-sign"
            slot="end" 
            src="assets/icon/warning-sign.svg"
            slot="end"
            (click)="openTooltip($event, 'startDate')"
          ></ion-icon>
        }
      </ion-input>
    </ion-item>

    <ion-popover
      [isOpen]="isTooltipOpen"
      [event]="tooltipEvent"
      size="auto"
      (willDismiss)="closeTooltip()"
    >
      <ng-template>
        <div class="validation-tooltip" [innerHTML]="tooltipMessage"></div>
      </ng-template>
    </ion-popover>
  
    <ion-item [class.invalid]="filterForm.get('endDate')?.invalid">
      <ion-label position="stacked">End Date</ion-label>
      <ion-input
        placeholder="yyyy-mm-dd"
        formControlName="endDate"
        [maskito]="dateMask"
        [maskitoElement]="maskPredicate"
      >
        @if (filterForm.get('endDate')?.errors) {
          <ion-icon
            class="warning-sign"
            slot="end"
            src="assets/icon/warning-sign.svg"
            slot="end"
            (click)="openTooltip($event, 'endDate')"
          ></ion-icon>
        }
      </ion-input>
    </ion-item>
  </form>

  <div class="controls">
    <ion-button fill="clear" (click)="shiftDates(-1)">prev</ion-button>
    <ion-chip 
      [color]="selectedPeriod == 'week' ? 'primary' : 'medium'"
      (click)="selectPeriod('week')"
    >week</ion-chip>
    <ion-chip 
      [color]="selectedPeriod == 'month' ? 'primary' : 'medium'"
      (click)="selectPeriod('month')"
    >month</ion-chip>
    <ion-button fill="clear" (click)="shiftDates(1)">next</ion-button>
  </div>

  <ion-button
    expand="block"
    (click)="loadStats()"
    [disabled]="!filterForm.valid"
  >Show Stats</ion-button>

  <ion-list>
    @if (activities.length) {
      <ion-item>
        <ion-label>
          <h2>Total for period</h2>
          <p>Avg. mood: {{ getAverageValue(activities, 'mood') | number:'1.1-1' }}</p>
          <p>Avg. energy: {{ getAverageValue(activities, 'energy') | number:'1.1-1' }}</p>
          <p>Avg. satiety: {{ getAverageValue(activities, 'satiety') | number:'1.1-1' }}</p>
        </ion-label>
      </ion-item>
    }
    @for (day of activitiesGroupedByDate; track day.date) {
      <ion-item>
        <ion-label>
          <h2>{{ day.date }}</h2>
          <p>Avg. mood: {{ getAverageValue(day.activities, 'mood') | number:'1.1-1' }}</p>
          <p>Avg. energy: {{ getAverageValue(day.activities, 'energy') | number:'1.1-1' }}</p>
          <p>Avg. satiety: {{ getAverageValue(day.activities, 'satiety') | number:'1.1-1' }}</p>
        </ion-label>
      </ion-item>
    } @empty {
      <ion-text>There are no activities in selected period.</ion-text>
    }
  </ion-list>
</ion-content>