<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="activity-list" href="/tabs/activity-list">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activity-add" href="/tabs/activity-add">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Add</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activity-calendar" href="/tabs/activity-calendar">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Days</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
