<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'TK_HISTORY' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-fab vertical="bottom" horizontal="end" (click)="goToAddPage()">
    <ion-fab-button>
      <ion-icon src="assets/icon/plus.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-buttons>
    <ion-button (click)="goToPreviousDay()">{{ 'TK_PREV' | translate }}</ion-button>
    @if (editingDate) {
      <input
        #dateInput
        class="date-input"
        type="text"
        [value]="currentDate"
        placeholder="YYYY-MM-DD"
        (blur)="onDateInputBlur($event)"
        (keydown.enter)="dateInput.blur()"
      />
    } @else {
      <ion-text class="date-text" (click)="startEditingDate()">{{ currentDate }}</ion-text>
    }
    <ion-button (click)="goToNextDay()">{{ 'TK_NEXT' | translate }}</ion-button>
  </ion-buttons>
  <app-activity-list [activities]="activities" [metrics]="metrics" [lists]="lists"></app-activity-list>
</ion-content>