<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'TK_HISTORY' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button id="open-action-sheet">
        <ion-icon src="assets/icon/three-dots-vertical.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-action-sheet trigger="open-action-sheet" header="{{ 'TK_ACTIONS' | translate }}"
      [buttons]="listActionSheetButtons" (didDismiss)="doListAction($event)"></ion-action-sheet>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-buttons>
    <ion-button (click)="goToPreviousDay()">{{ 'TK_PREV' | translate }}</ion-button>
    <ion-text>{{ currentDate }}</ion-text>
    <ion-button (click)="goToNextDay()">{{ 'TK_NEXT' | translate }}</ion-button>
  </ion-buttons>
  <app-activity-list [activities]="activities" [metrics]="metrics" [dictionaries]="dictionaries"></app-activity-list>
</ion-content>