<ion-header>
  <ion-toolbar>
    <app-nav-button slot="start"></app-nav-button>
    <ion-title>{{ 'TK_EDIT_METRIC' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (metric) {
    <app-metric-form #editFormRef [metric]="metric"></app-metric-form>
  }
</ion-content>

@if (metric) {
  <ion-footer>
    <div class="nf-actionbar">
      <button
        type="button"
        class="nf-submit"
        (click)="saveMetric()"
      >
        {{ 'TK_SAVE' | translate }}
      </button>
    </div>
  </ion-footer>
}
