<ion-header>
  <ion-toolbar>
    <ion-title>Log Activity</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addActivity()">Add</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <ion-item>
      <ion-label position="stacked">Actions (separated by comma)</ion-label>
      <ion-input
        [(ngModel)]="activity.actions"
        name="actions"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Date</ion-label>
      <ion-input
        placeholder="yyyy-mm-dd"
        [(ngModel)]="activity.date"
        name="date"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Start Time</ion-label>
      <ion-input
        placeholder="hh:mm"
        [(ngModel)]="activity.startTime"
        name="startTime"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">End Time</ion-label>
      <ion-input
        placeholder="hh:mm"
        [(ngModel)]="activity.endTime"
        name="endTime"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Mood</ion-label>
      <ion-range
        min="1"
        max="10"
        [snaps]="true"
        [(ngModel)]="activity.mood"
        name="mood"
      ></ion-range>
      <ion-text>{{ activity.mood }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Energy</ion-label>
      <ion-range
        min="1"
        max="10"
        [snaps]="true"
        [(ngModel)]="activity.energy"
        name="energy"
      ></ion-range>
      <ion-text>{{ activity.energy }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Satiety</ion-label>
      <ion-range
        min="1"
        max="10"
        [snaps]="true"
        [(ngModel)]="activity.satiety"
        name="satiety"
      ></ion-range>
      <ion-text>{{ activity.satiety }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-input
        label="Emotions (separated by comma)"
        labelPlacement="floating"
        placeholder="What did you feel after?"
        [(ngModel)]="activity.emotions"
        name="emotions"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea
        label="Comment"
        labelPlacement="floating"
        placeholder="Tell more about this activity"
        [(ngModel)]="activity.comment"
        name="comment"
      ></ion-textarea>
    </ion-item>

    
  </form>
</ion-content>