<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="stats-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'TK_LIBRARY' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  @if (isLoading) {
    <app-stats-skeleton></app-stats-skeleton>
  } @else {
    <app-stats-item-content
      [lists]="lists"
      [initialActivities]="initialActivities"
      [initialSuggestions]="initialSuggestions"
      [initialPeriod]="initialPeriod"
      [savedPeriod]="savedPeriod"
      [savedItem]="savedItem"
    ></app-stats-item-content>
  }
</ion-content>
