<ion-header>
  <ion-toolbar>
    <app-nav-button slot="start" [showBack]="false" menu="stats-menu"></app-nav-button>
    <ion-title>{{ 'TK_LIBRARY' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  @if (isLoading) {
    <app-stats-skeleton></app-stats-skeleton>
  } @else {
    <app-stats-item-content
      [lists]="lists"
      [initialActivities]="initialActivities"
      [initialSuggestions]="initialSuggestions"
      [initialPeriod]="initialPeriod"
      [savedPeriod]="savedPeriod"
      [savedItem]="savedItem"
    ></app-stats-item-content>
  }
</ion-content>
