// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --text-color: #000000;
    --text-color-grey: #aaaaaa;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #ffffff;
        --text-color-grey: #aaaaaa;
    }
}