table, td, th {
    border: 1px solid #555;
}

td, th {
    padding: 5px;
}

table {
    margin-bottom: 10px;
}

caption {
    caption-side: top;
    text-align: left;
    padding-bottom: 10px;
    font-weight: bold;
}