.suggestions {
    position: absolute;
    border: 1px solid #ccc;
    z-index: 1001000;
    width: 90%;
    max-height: 200px;
    overflow-y: auto;
    display: block;
}

// .suggestions {
//     position: absolute;
//     // left: 0;
//     // width: 90%;
//     // background: var(--ion-color-light, #fff);
//     // border: 1px solid #ccc;
//     // border-radius: 8px;
//     // z-index: 1000;
// }

// .test {
//     position: absolute;
//     background-color: red;
//     z-index: 2147483647;
//     display: block;
// }

// .container {
//     background-color: aqua;
//     position: relative;
//     display: block;
//     overflow: visible;
// }

.tag-input-container {
    position: relative;
}
