<ion-header>
  <ion-toolbar>
    <app-back-button slot="start"></app-back-button>
    <ion-title>{{ 'TK_EDIT' | translate }}
      {{ 'TK_DICTIONARY' | translate | lowercase }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="updateDictionary()"
        [disabled]="!isFormValid()"
      >{{ 'TK_SAVE' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (dictionary) {
    <app-dictionary-form
      #updateFormRef
      [dictionary]="dictionary"
    ></app-dictionary-form>
  }
</ion-content>