<ion-header>
  <ion-toolbar>
    <app-back-button slot="start"></app-back-button>
    <ion-title>{{ 'TK_EDIT' | translate }} {{ 'TK_ACTIVITY' | translate | lowercase }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="updateActivity()"
        [disabled]="!isFormValid()"
      >{{ 'TK_SAVE' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (activity) {
    <app-activity-form 
      #updateFormRef
      [activity]="activity"
    ></app-activity-form>
  }
</ion-content>