<ion-header>
  <ion-toolbar>
    <app-back-button slot="start"></app-back-button>
    <ion-title>{{ 'TK_EDIT' | translate }} {{ 'TK_ACTIVITY' | translate | lowercase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (activity) {
    <app-activity-form
      #updateFormRef
      [activity]="activity"
      [activityMetricValues]="activityMetricValues"
      [activityItemValues]="activityItemValues"
    ></app-activity-form>
  }
</ion-content>

<ion-footer>
  <div class="nf-actionbar">
    <button
      type="button"
      class="nf-submit"
      [disabled]="!isFormValid()"
      (click)="updateActivity()"
    >{{ 'TK_SAVE' | translate }}</button>
  </div>
</ion-footer>
