@if (!hasCustomInputMode) {
  <ion-item #inputItem>
    <ion-input
      label="{{ label | translate }}"
      labelPlacement="floating"
      [value]="enteredText"
      (ionInput)="onInput($event)"
      (ionFocus)="openSuggestions($event)"
      (ionBlur)="hideSuggestions()"
    ></ion-input>
    <ng-content select="[select-search-end]"></ng-content>
  </ion-item>
}
<ng-content></ng-content>

@if (showSuggestions) {
  <app-suggestions
    [suggestions]="suggestionItems"
    [anchor]="anchorEl"
    (selected)="onSuggestionSelected($event)"
  ></app-suggestions>
}
