<ion-header>
  <ion-toolbar>
    <app-nav-button slot="start"></app-nav-button>
    <ion-title>{{ 'TK_REPLACE' | translate }}
      {{ 'TK_ACTION' | translate | lowercase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (currentAction) {
    @if (hasRelation) {
      <form [formGroup]="replaceForm" class="ar-card">
        <p class="ar-lead">{{ getFormText() }}</p>

        <!-- REPLACEMENT ACTION -->
        <div class="ar-field">
          <div class="ar-label">{{ 'TK_ACTION' | translate }}</div>
          <app-action-input
            formControlName="newAction"
            [single]="true"
            [strict]="true"
            [exclude]="excludedActions"
          ></app-action-input>
        </div>

        <!-- DELETE THE OLD ACTION -->
        <div class="ar-field ar-field--last ar-field--row">
          <ion-checkbox
            formControlName="deleteOldAction"
            labelPlacement="end"
          >
            <span class="ar-check-title">{{ 'TK_DELETE_THE_OLD_ACTION' | translate }}</span>
          </ion-checkbox>
        </div>
      </form>
    } @else {
      <p class="ar-empty">{{ 'TK_THE_ACTION_WAS_NEVER_PERFORMED_THERE_IS_NOTHING_TO_REPLACE' | translate }}</p>
    }
  }
</ion-content>

@if (currentAction && hasRelation) {
  <ion-footer>
    <div class="nf-actionbar">
      <button
        type="button"
        class="nf-submit"
        [disabled]="!isFormValid()"
        (click)="replaceAction()"
      >
        {{ 'TK_REPLACE' | translate }}
      </button>
    </div>
  </ion-footer>
}
