<ion-header>
  <ion-toolbar>
    <app-nav-button slot="start"></app-nav-button>
    <ion-title>{{ 'TK_REPLACE' | translate }}
      {{ 'TK_ACTION' | translate | lowercase }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="replaceAction()"
        [disabled]="!isFormValid()"
      >{{ 'TK_REPLACE' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (currentAction) {
    @if (hasRelation) {
      <p class="ar-lead">{{ getFormText() }}</p>

      <form [formGroup]="replaceForm" class="ar-card">
        <!-- REPLACEMENT ACTION -->
        <div class="ar-field">
          <app-select-search
            appValidationError
            formControlName="newAction"
            label="TK_ACTION"
            [suggestions]="suggestions"
          ></app-select-search>
        </div>

        <!-- DELETE THE OLD ACTION -->
        <div class="ar-field ar-field--last ar-field--row">
          <ion-checkbox
            formControlName="deleteOldAction"
            labelPlacement="start"
            justify="space-between"
          >
            <span class="ar-check-title">{{ 'TK_DELETE_THE_ACTION_AFTER_THE_REPLACEMENT' | translate }}</span>
          </ion-checkbox>
        </div>
      </form>
    } @else {
      <p class="ar-empty">{{ 'TK_THE_ACTION_WAS_NEVER_PERFORMED_THERE_IS_NOTHING_TO_REPLACE' | translate }}</p>
    }
  }
</ion-content>
