.input-icon {
    width: 24px;
    height: 24px;
    padding: 10px;
}

ion-item.invalid {
    --highlight-color-focused: var(--ion-color-danger);
    --border-color: var(--ion-color-danger);

    ion-input {
        --color: var(--ion-color-danger);
    }
}

.validation-tooltip {
    padding: 5px 10px;
}

.suggestions {
    position: absolute;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 90%;
    max-height: 200px;
    overflow-y: auto;
}