<form [formGroup]="activityForm">
    <ion-item>
        <ion-label position="stacked">
            {{ 'TK_ACTIONS' | translate }} ({{ 'TK_SEPARATED_BY_COMMA' | translate | lowercase }})
        </ion-label>
        <ion-textarea
            #actionsInput
            validationError
            formControlName="actions"
            name="actions"
            rows="1"
            [autoGrow]="true"
            (ionInput)="onActionsInput($event)"
            (ionBlur)="hideActionSuggestions()"
            (click)="updateActionCaretAndText($event)"
            (keyup)="updateActionCaretAndText($event)"
        ></ion-textarea>
    </ion-item>

    @if (showActionSuggestions) {
        <ion-list class="suggestions" lines="none">
        @for (suggestion of filteredActionSuggestions; track suggestion) {
            <ion-item
                button
                (click)="selectSuggestion(suggestion)"
            >
                {{ suggestion | translate }}
            </ion-item>
        }
        </ion-list>
    }
    
    <ion-item>
        <ion-label position="stacked">{{ 'TK_DATE' | translate }}</ion-label>
        <ion-input
            validationError
            placeholder="{{ 'TK_YYYY_MM_DD' | translate }}"
            formControlName="date"
            name="date"
            [maskito]="dateMask"
            [maskitoElement]="maskPredicate"
        ></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">{{ 'TK_START_TIME' | translate }}</ion-label>
        <ion-input
            validationError
            placeholder="{{ 'TK_HH_MM' | translate }}"
            formControlName="startTime"
            name="startTime"
            [maskito]="timeMask"
            [maskitoElement]="maskPredicate"
        ></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">{{ 'TK_END_TIME' | translate }}</ion-label>
        <ion-input
            validationError
            placeholder="{{ 'TK_HH_MM' | translate }}"
            formControlName="endTime"
            name="endTime"
            [maskito]="timeMask"
            [maskitoElement]="maskPredicate"
        >
        @if (!isCurrentTime(activityForm.get('endTime')?.value ?? '')) {
            <ion-icon
                class="input-icon"
                slot="end"
                src="assets/icon/refresh.svg"
                (click)="updateEndTime($event)"
            ></ion-icon>
        }
        </ion-input>
    </ion-item>

    <ion-item>
        <ion-checkbox 
            formControlName="doNotMeasure"
            labelPlacement="end"
        >{{ 'TK_DON_T_MEASURE' | translate }}</ion-checkbox>
    </ion-item>

    @if (!activityForm.get('doNotMeasure')?.value) {
        <ion-item>
            <ion-label position="stacked">
                {{ 'TK_MOOD' | translate }} ({{ activityForm.get('mood')?.value }})
            </ion-label>
            <ion-range
                min="1"
                max="10"
                formControlName="mood"
                name="mood"
            ></ion-range>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">
                {{ 'TK_ENERGY' | translate }} ({{ activityForm.get('energy')?.value }})
            </ion-label>
            <ion-range
                min="1"
                max="10"
                formControlName="energy"
                name="energy"
            ></ion-range>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">
                {{ 'TK_SATIETY' | translate }} ({{ activityForm.get('satiety')?.value }})
            </ion-label>
            <ion-range
                min="1"
                max="10"
                formControlName="satiety"
                name="satiety"
            ></ion-range>
        </ion-item>
    }

    <ion-item>
        <ion-input
            validationError
            label="{{ 'TK_EMOTIONS' | translate }} ({{ 'TK_SEPARATED_BY_COMMA' | translate | lowercase }})"
            labelPlacement="floating"
            placeholder="{{ 'TK_WHAT_DID_YOU_FEEL' | translate }}"
            formControlName="emotions"
            name="emotions"
        ></ion-input>
    </ion-item>

    <app-tag-input 
        validationError
        formControlName="tags"
    ></app-tag-input>

    <ion-item>
        <ion-textarea
            label="{{ 'TK_COMMENT' | translate }}"
            labelPlacement="floating"
            placeholder="{{ 'TK_TELL_MORE_ABOUT_THIS_ACTIVITY' | translate }}"
            formControlName="comment"
            name="comment"
        ></ion-textarea>
    </ion-item>
</form>