<form [formGroup]="activityForm">
  <ion-item>
    <ion-label position="stacked">{{ 'TK_ACTIONS' | translate }} ({{ 'TK_SEPARATED_BY_COMMA' | translate | lowercase }})</ion-label>
    <ion-input
      formControlName="actions"
      name="actions"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">{{ 'TK_DATE' | translate }}</ion-label>
    <ion-input
      placeholder="{{ 'TK_YYYY_MM_DD' | translate }}"
      formControlName="date"
      name="date"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">{{ 'TK_START_TIME' | translate }}</ion-label>
    <ion-input
      placeholder="{{ 'TK_HH_MM' | translate }}"
      formControlName="startTime"
      name="startTime"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">{{ 'TK_END_TIME' | translate }}</ion-label>
    <ion-input
      placeholder="{{ 'TK_HH_MM' | translate }}"
      formControlName="endTime"
      name="endTime"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>{{ 'TK_MOOD' | translate }}</ion-label>
    <ion-range
      min="1"
      max="10"
      formControlName="mood"
      name="mood"
    ></ion-range>
    <ion-text>{{ activityForm.get('mood')?.value }}</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>{{ 'TK_ENERGY' | translate }}</ion-label>
    <ion-range
      min="1"
      max="10"
      formControlName="energy"
      name="energy"
    ></ion-range>
    <ion-text>{{ activityForm.get('energy')?.value }}</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>{{ 'TK_SATIETY' | translate }}</ion-label>
    <ion-range
      min="1"
      max="10"
      formControlName="satiety"
      name="satiety"
    ></ion-range>
    <ion-text>{{ activityForm.get('satiety')?.value }}</ion-text>
  </ion-item>

  <ion-item>
    <ion-input
      label="{{ 'TK_EMOTIONS' | translate }} ({{ 'TK_SEPARATED_BY_COMMA' | translate | lowercase }})"
      labelPlacement="floating"
      placeholder="{{ 'TK_WHAT_DID_YOU_FEEL' | translate }}"
      formControlName="emotions"
      name="emotions"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-textarea
      label="{{ 'TK_COMMENT' | translate }}"
      labelPlacement="floating"
      placeholder="{{ 'TK_TELL_MORE_ABOUT_THIS_ACTIVITY' | translate }}"
      formControlName="comment"
      name="comment"
    ></ion-textarea>
  </ion-item>
</form>