<ion-header>
  <ion-toolbar>
    <app-nav-button slot="start"></app-nav-button>
    <ion-title>{{ metric?.name | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()">
        <ion-icon src="assets/icon/three-dots-vertical.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (isLoading) {
    <app-default-skeleton></app-default-skeleton>
  } @else {
    <div class="av-screen">
      <section class="tl-widget av-block">
        <div class="tl-widget-hd"><span class="tl-widget-title">{{ 'TK_PERIOD' | translate }}</span></div>
        <form [formGroup]="filterForm">
          <app-date-period-input formControlName="datePeriod" storageKey="metric-view"></app-date-period-input>
        </form>
      </section>

      @if (chartData) {
        <section class="tl-widget av-block">
          <div class="tl-widget-hd"><span class="tl-widget-title">{{ 'TK_STATS' | translate }}</span></div>
          <canvas baseChart [data]="chartData" [options]="chartOptions" type="line"></canvas>
        </section>
      }

      @if (metric) {
        <section class="tl-widget av-block">
          <div class="tl-widget-hd"><span class="tl-widget-title">{{ 'TK_DETAILS' | translate }}</span></div>
          <div class="av-metrics">
            @if (linkedItem) {
              <div class="av-metric">
                <span class="av-metric-k">{{ 'TK_ITEM' | translate }}</span>
                <span class="av-metric-v">{{ linkedItem.name }}</span>
              </div>
            }

            @if (metric.unit) {
              <div class="av-metric">
                <span class="av-metric-k">{{ 'TK_UNIT' | translate }}</span>
                <span class="av-metric-v">{{ metric.unit }}</span>
              </div>
            }

            <div class="av-metric">
              <span class="av-metric-k">{{ 'TK_STEP' | translate }}</span>
              <span class="av-metric-v">{{ metric.step }}</span>
            </div>

            @if (metric.minValue != null) {
              <div class="av-metric">
                <span class="av-metric-k">{{ 'TK_MIN_VALUE' | translate }}</span>
                <span class="av-metric-v">{{ metric.minValue }}</span>
              </div>
            }

            @if (metric.maxValue != null) {
              <div class="av-metric">
                <span class="av-metric-k">{{ 'TK_MAX_VALUE' | translate }}</span>
                <span class="av-metric-v">{{ metric.maxValue }}</span>
              </div>
            }

            @if (metric.isHidden) {
              <div class="av-metric">
                <span class="av-metric-k">{{ 'TK_HIDDEN' | translate }}</span>
                <span class="av-metric-v">{{ 'TK_YES' | translate }}</span>
              </div>
            }

            @if (metric.showPreviousValue) {
              <div class="av-metric">
                <span class="av-metric-k">{{ 'TK_SHOW_PREVIOUS_VALUE' | translate }}</span>
                <span class="av-metric-v">{{ 'TK_YES' | translate }}</span>
              </div>
            }
          </div>
        </section>
      }
    </div>
  }
</ion-content>
