<ion-header>
  <ion-toolbar>
    <app-nav-button slot="start"></app-nav-button>
    <ion-title>{{ 'TK_EDIT' | translate }}
      {{ 'TK_LIST' | translate | lowercase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (list) {
    <app-list-form
      #updateFormRef
      [list]="list"
    ></app-list-form>
  }
</ion-content>

<ion-footer>
  <div class="nf-actionbar">
    <button
      type="button"
      class="nf-submit"
      (click)="updateList()"
    >
      {{ 'TK_SAVE' | translate }}
    </button>
  </div>
</ion-footer>
