<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="activity" href="/activity">
      <ion-icon aria-hidden="true" src="assets/icon/list.svg"></ion-icon>
      <ion-label>{{ 'TK_HISTORY_SHORT' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="library" href="/library">
      <ion-icon aria-hidden="true" src="assets/icon/book.svg"></ion-icon>
      <ion-label>{{ 'TK_LIBRARY_SHORT' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="metric" href="/metric">
      <ion-icon aria-hidden="true" src="assets/icon/beaker.svg"></ion-icon>
      <ion-label>{{ 'TK_LAB' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats" href="/stats">
      <ion-icon aria-hidden="true" src="assets/icon/stats.svg"></ion-icon>
      <ion-label>{{ 'TK_STATS_SHORT' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/settings">
      <ion-icon aria-hidden="true" src="assets/icon/settings.svg"></ion-icon>
      <ion-label>{{ 'TK_SETTINGS_SHORT' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
