<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="activity-list" href="/activity-list">
      <ion-icon aria-hidden="true" src="/assets/icon/list.svg"></ion-icon>
      <ion-label>{{ 'TK_HISTORY' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activity-add" href="/activity-add">
      <ion-icon aria-hidden="true" src="/assets/icon/add.svg"></ion-icon>
      <ion-label>{{ 'TK_ADD' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activity-calendar" href="/activity-calendar">
      <ion-icon aria-hidden="true" src="/assets/icon/stats.svg"></ion-icon>
      <ion-label>{{ 'TK_STATS' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/settings">
      <ion-icon aria-hidden="true" src="/assets/icon/settings.svg"></ion-icon>
      <ion-label>{{ 'TK_SETTINGS' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
