<form [formGroup]="itemForm" class="lf-card">
  <!-- NAME -->
  <div class="lf-field lf-field--last">
    <div class="lf-label">{{ 'TK_NAME' | translate }}</div>
    <ion-input
      class="lf-name"
      [class.lf-name--invalid]="showNameError"
      formControlName="name"
      name="name"
      [placeholder]="'TK_ITEM_NAME_PLACEHOLDER' | translate"
    ></ion-input>
    @if (showNameError) {
      <div class="lf-error">
        @for (msg of nameErrors; track msg) {
          <div class="lf-error-line">
            <ion-icon src="assets/icon/warning-sign.svg"></ion-icon>
            <span>{{ msg }}</span>
          </div>
        }
      </div>
    }
  </div>
</form>
