<form [formGroup]="itemForm">
  <ion-item>
    <ion-label position="stacked">{{ 'TK_NAME' | translate }}</ion-label>
    <ion-input
      appValidationError
      formControlName="name"
      name="name"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-checkbox
      labelPlacement="end"
      formControlName="isHidden"
      name="isHidden"
    >{{ 'TK_HIDDEN' | translate }}</ion-checkbox>
  </ion-item>

  <app-select-search
    appValidationError
    formControlName="item"
    label="TK_ITEM"
    [suggestions]="suggestions"
  ></app-select-search>
</form>
