<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="lab-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'TK_DICTIONARIES' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-fab
    vertical="bottom"
    horizontal="end"
    (click)="goToAddPage()"
  >
    <ion-fab-button>
      <ion-icon src="assets/icon/plus.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    @for (dictionary of dictionaries; track dictionary.id) {
      <ion-item class="dictionary">
        <ion-label>
          <div class="title">{{ dictionary.name | translate }}</div>
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>