<form
  class="filter-form"
  [formGroup]="form"
>
  <div class="date-row">
    <ion-item>
      <ion-label position="stacked">{{ 'TK_DATE_FROM' | translate }}</ion-label>
      <ion-input
        appValidationError
        placeholder="{{ 'TK_YYYY_MM_DD' | translate }}"
        formControlName="startDate"
        [maskito]="dateMask"
        [maskitoElement]="maskPredicate"
        (ionInput)="onUserInput()"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{ 'TK_DATE_TO' | translate }}</ion-label>
      <ion-input
        appValidationError
        placeholder="{{ 'TK_YYYY_MM_DD' | translate }}"
        formControlName="endDate"
        [maskito]="dateMask"
        [maskitoElement]="maskPredicate"
        (ionInput)="onUserInput()"
      ></ion-input>
    </ion-item>
  </div>
</form>

<div class="controls">
  <ion-button
    fill="clear"
    (click)="shiftDates(-1)"
    [disabled]="!form.valid"
  >{{ 'TK_PREV' | translate }}</ion-button>
  <ion-chip
    [color]="selectedPeriod == 'week' ? 'primary' : 'medium'"
    (click)="selectPeriod('week')"
  >{{ 'TK_WEEK' | translate }}</ion-chip>
  <ion-chip
    [color]="selectedPeriod == '2weeks' ? 'primary' : 'medium'"
    (click)="selectPeriod('2weeks')"
  >{{ 'TK_2_WEEKS' | translate }}</ion-chip>
  <ion-chip
    [color]="selectedPeriod == 'month' ? 'primary' : 'medium'"
    (click)="selectPeriod('month')"
  >{{ 'TK_MONTH' | translate }}</ion-chip>
  <ion-button
    fill="clear"
    (click)="shiftDates(1)"
    [disabled]="!form.valid"
  >{{ 'TK_NEXT' | translate }}</ion-button>
</div>
