.date-row {
  display: flex;
  position: relative;

  app-date-picker {
    flex: 1;
    min-width: 0;
  }

  &__warning {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px;
    color: var(--ion-color-danger);
    cursor: pointer;
    line-height: 1;
    z-index: 10;

    ion-icon {
      width: 24px;
      height: 24px;
      display: block;
    }
  }
}

.controls {
  margin-top: 8px;
  display: flex;
  justify-content: center;

  @media (max-width: 410px) {
    ion-button {
      --padding-start: 4px;
      --padding-end: 4px;
    }
  }
}