<form
  class="filter-form"
  [formGroup]="form"
>
  <div class="date-row">
    <app-date-picker
      formControlName="startDate"
      label="TK_DATE_FROM"
    ></app-date-picker>
    <app-date-picker
      formControlName="endDate"
      label="TK_DATE_TO"
    ></app-date-picker>
    @if (form.invalid) {
      <div class="date-row__warning" (click)="showValidationError($event)">
        <ion-icon src="assets/icon/warning-sign.svg"></ion-icon>
      </div>
    }
  </div>
</form>

<div class="controls">
  <ion-button
    fill="clear"
    (click)="shiftDates(-1)"
    [disabled]="!form.valid"
  >{{ 'TK_PREV' | translate }}</ion-button>
  <ion-chip
    [color]="selectedPeriod == 'week' ? 'primary' : 'medium'"
    (click)="selectPeriod('week')"
  >{{ 'TK_WEEK' | translate }}</ion-chip>
  <ion-chip
    [color]="selectedPeriod == '2weeks' ? 'primary' : 'medium'"
    (click)="selectPeriod('2weeks')"
  >{{ 'TK_2_WEEKS' | translate }}</ion-chip>
  <ion-chip
    [color]="selectedPeriod == 'month' ? 'primary' : 'medium'"
    (click)="selectPeriod('month')"
  >{{ 'TK_MONTH' | translate }}</ion-chip>
  <ion-button
    fill="clear"
    (click)="shiftDates(1)"
    [disabled]="!form.valid"
  >{{ 'TK_NEXT' | translate }}</ion-button>
</div>
