<ion-item (click)="openPicker()">
  <ion-label position="stacked">{{ label | translate }}</ion-label>
  <ion-input [value]="displayValue" [readonly]="true" inputmode="none" placeholder="HH:MM"></ion-input>
  <ng-content></ng-content>
</ion-item>

@if (isOpen) {
  <div class="tw-backdrop" (click)="cancel()"></div>
  <div class="tw-panel">
    <div class="tw-wheel-container">
      <div class="tw-highlight"></div>
      <div class="tw-column" #hourColumn>
        <div class="tw-pad"></div>
        @for (h of hours; track $index) {
          <div class="tw-item">{{ pad(h) }}</div>
        }
        <div class="tw-pad"></div>
      </div>
      <div class="tw-colon">:</div>
      <div class="tw-column" #minuteColumn>
        <div class="tw-pad"></div>
        @for (m of minutes; track $index) {
          <div class="tw-item">{{ pad(m) }}</div>
        }
        <div class="tw-pad"></div>
      </div>
    </div>
    <div class="tw-buttons">
      <ion-button fill="clear" color="medium" (click)="cancel()">
        {{ 'TK_CANCEL' | translate }}
      </ion-button>
      <ion-button (click)="done()">
        {{ 'TK_DONE' | translate }}
      </ion-button>
    </div>
  </div>
}
