<form [formGroup]="listForm" class="lf-card">
  <!-- NAME -->
  <div class="lf-field">
    <div class="lf-label">
      {{ 'TK_NAME' | translate }}
      @if (list?.isBase) {
        <ion-badge class="lf-badge">{{ 'TK_BASIC' | translate }}</ion-badge>
      }
    </div>
    @if (list?.isBase) {
      <ion-input
        class="lf-name lf-name--readonly"
        [value]="listForm.get('name')?.value | translate"
        [readonly]="true"
        (click)="onNameClick()"
      ></ion-input>
    } @else {
      <ion-input
        class="lf-name"
        [class.lf-name--invalid]="showNameError"
        formControlName="name"
        name="name"
        [placeholder]="'TK_LIST_NAME_PLACEHOLDER' | translate"
      ></ion-input>
      @if (showNameError) {
        <div class="lf-error">
          @for (msg of nameErrors; track msg) {
            <div class="lf-error-line">
              <ion-icon src="assets/icon/warning-sign.svg"></ion-icon>
              <span>{{ msg }}</span>
            </div>
          }
        </div>
      }
    }
  </div>

  <!-- HIDDEN -->
  <div class="lf-field lf-field--row">
    <ion-checkbox formControlName="isHidden" labelPlacement="end">
      <div class="lf-check-title">{{ 'TK_HIDDEN' | translate }}</div>
    </ion-checkbox>
  </div>

  <!-- ITEMS -->
  <div class="lf-field lf-field--last">
    <div class="lf-label lf-label--items">
      {{ 'TK_ITEMS' | translate }}
      <button type="button" class="lf-help" (click)="showItemsTip($event)" aria-label="Help">?</button>
    </div>
    <app-list-input
      formControlName="links"
      [suggestions]="linkSuggestions"
      [strict]="true"
    ></app-list-input>
  </div>
</form>
