<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      @if (showBackButton) {
        <app-back-button></app-back-button>
      } @else {
        <ion-menu-button menu="lab-menu"></ion-menu-button>
      }
    </ion-buttons>
    <ion-title>{{ 'TK_RULES' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-fab
    vertical="bottom"
    horizontal="end"
    (click)="goToAddPage()"
  >
    <ion-fab-button>
      <ion-icon src="assets/icon/plus.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  @if (rules.length === 0) {
    <div class="empty-state">
      <ion-text color="medium">{{ 'TK_NO_RULES' | translate }}</ion-text>
    </div>
  } @else {
    <ion-list>
      @for (rule of rules; track rule.id) {
        <ion-item (click)="goToViewPage(rule.id)" button>
          <ion-label>
            <div class="title">{{ getRuleName(rule) }}</div>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button id="open-action-sheet-rule-{{rule.id}}" (click)="$event.stopPropagation()">
              <ion-icon src="assets/icon/three-dots-vertical.svg"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-action-sheet
            trigger="open-action-sheet-rule-{{rule.id}}"
            [buttons]="ruleActionSheetButtons"
            (didDismiss)="doRuleAction($event, rule.id)"
          ></ion-action-sheet>
        </ion-item>
      }
    </ion-list>
  }
</ion-content>
