<ion-header>
  <ion-toolbar>
    <app-nav-button slot="start" [showBack]="showBackButton" menu="lab-menu"></app-nav-button>
    <ion-title>{{ 'TK_RULES' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-fab vertical="bottom" horizontal="end" (click)="goToAddPage()">
    <ion-fab-button>
      <ion-icon src="assets/icon/plus.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-segment class="rl-status" [(ngModel)]="statusFilter">
    <ion-segment-button value="opened">{{ 'TK_OPENED' | translate }}</ion-segment-button>
    <ion-segment-button value="closed">{{ 'TK_CLOSED' | translate }}</ion-segment-button>
    <ion-segment-button value="all">{{ 'TK_ALL' | translate }}</ion-segment-button>
  </ion-segment>
  <div class="lib-card">
    <ion-item lines="full" class="lib-search">
      <ion-icon name="search-outline" slot="start" color="medium"></ion-icon>
      <ion-input [(ngModel)]="searchQuery" [placeholder]="'TK_SEARCH' | translate"></ion-input>
    </ion-item>
    <ion-list lines="full">
      @for (rule of filteredRules; track rule.id) {
        <ion-item (click)="goToViewPage(rule.id)" button>
          <ion-label>
            <div class="lib-name">{{ getRuleName(rule) }}</div>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button id="open-action-sheet-rule-{{rule.id}}" (click)="$event.stopPropagation()">
              <ion-icon src="assets/icon/three-dots-vertical.svg"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-action-sheet
            trigger="open-action-sheet-rule-{{rule.id}}"
            [buttons]="ruleActionSheetButtons"
            (didDismiss)="doRuleAction($event, rule.id)"
          ></ion-action-sheet>
        </ion-item>
      } @empty {
        <ion-text style="display: block; padding: 16px">{{ 'TK_NO_RULES' | translate }}</ion-text>
      }
    </ion-list>
  </div>
</ion-content>
